html {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

.cabecera {
  text-align: center;
  width: 100;
  margin-bottom: 10px;
}

.titulo {
  margin:15px auto;
  font-size: 3.5em;
  font-style: italic;
}

.contenedorBotones {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}


.contenedorVirtual {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 1em;
  box-shadow: 0 3px 3px black;
  background-color: #c1e1e2;
  cursor: pointer;
}

.contenedorVirtual:hover {
    box-shadow: 0 0 15px rgb(63, 59, 59);

}

.input {
  width: 500px;
  padding: 4px 12px;
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 20px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-radius: 4px;
}

.boton {
  padding: 4px 12px;
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-radius: 4px;
}

.botonImprimir {
  padding: 4px 12px;
  margin-bottom: 2em;
  margin-left: 80px;
  font-size: 1em;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-radius: 4px;
}


.parrafo {
  font-size: 20px;
}

.boton:hover {
  background-color: rgb(82, 101, 102);
  color: white;
}

.botonImprimir:hover {
  background-color: rgb(82, 101, 102);
  color: white;
}


.botonCerrar {
  padding: 4px 12px;
  font-size: 1em;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.767);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-radius: 50%;
  
}

.botonCerrar:hover {
  background-color: rgb(82, 101, 102);
  color: white;
}
